body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 链接 */
a:link {
  color: #288bea;
  text-decoration: none;
}
a:visited {
  color: #288bea;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.li a.active {
  background-color: #288bea;
  color: white;
}
.li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.singlea a:link {
  color: #000;
}
.singlea a:visited {
  color: #000;
}
.singlea a:hover {
  color: #000;
}

.singleb a:link {
  color: #258fb8;
}
.singleb a:visited {
  color: #258fb8;
}
.singleb a:hover {
  color: #258fb8;
}
/* 123 */
.background {
  background-color: #f1f1f1;
  text-align: center;
  padding: 30px;
  padding-left: 5%;
  margin: 0;
}
#footer {
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999;
}
footer {
  display: block;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}

.bg {
  background-color: #fff;
  padding: 30px;
}
.text_line {
  clear: both;
  margin-bottom: 2px;
  padding: 15px;
  text-align: left;
}

.imgPlace {
  position: relative;
  top: 7px;
}
blockquote {
  border-left: 4px solid #288bea;
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}
/* 侧边栏 */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  box-shadow: 0px 1px 1px #555;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #288bea;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 36px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* 图 */
#header {
  height: 300px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
#header-outer {
  height: 100%;
  position: relative;
}
.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
#header-title {
  text-align: center;
  height: 40px;
  position: absolute;
  top: 35%;
  left: 0;
  margin-top: -20px;
  color: #fff;
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/pic4.jpg) center #000;
  background-size: cover;
  z-index: -1;
}
#logo {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}
#subtitle-wrap {
  margin-top: 16px;
}
#subtitle {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}
#main-nav {
  float: left;
  margin-left: -150px;
}
